body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;
}

.box {
    width: 400px;
    height: 150px;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    text-align: center;
    font-size: large;
    background-color: #44A1A0;
    color: azure;
}